auto/
new/
raw/
.vscode/
*.bcf
*.glsdefs
*.run.xml
*.aux
*.bbl
*.blg
*.idx
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.lof
*.log
*.lot
*.out
*.pdf
*.synctex.gz
*.toc
*.acn
*.acr
*.alg
*.lol
*.mw
*.listing
*.mw.mw
comment.cut
_minted-*
